<div id='main'>
  <div id='shadow_box' class='box shadow'>
    <h2> Connect with <a href='http://spidergears.in'>Spidergears</a></h2>
    <div class='medium'>
      <table>
        <tr>
          <td>Blog</td>
          <td><a href='http://wordpress.com/spidergears', target='_blank'>wordpress/spidergears</a></td>
        </tr>
        <tr>
          <td>Github</td>
          <td><a href='http://github.com/spidergears', target='_blank'>github/spidergears</a></td>
        </tr>
        <tr>
          <td>Twitter</td>
          <td><a href='http://twitter.com/spider_gears', target='_blank'>twitter/spidergears</a></td>
        </tr>
        <tr>
          <td>Linkedin</td>
          <td><a href='http://linkedin.com/in/spidergears', target='_blank'>linkedin/spidergears</a></td>
        </tr>
        <tr>
          <td>Facebook</td>
          <td><a href='http://facebook.com/spidergears', target='_blank'>facebook/spidergears</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
